<% content_for :navigation, render('layouts/custom_setup_top_bar', obj: 'Create user from invitation', obj2: '') %>

<div class="row">
  <div class="col-3"></div>
  <div class="create-user-from-invitation-box col-6">

    <p class="setup-headline-box mt-300 mb-300">Welcome to Prjectio!</p>
    <p class="explainer mb-300">Let's get you started! <%= @invitation.user.first_name %>
      <%= @invitation.user.last_name %> already told us a little bit about you...</p>
    <p class="setup-subtitle">Your email</p>
    <p class="fixed-inputs"> <%= @invitation.email %></p>
    <div class="sign-up-flow-underline"></div>
    <p class="setup-subtitle">Your organisation</p>
    <p class="fixed-inputs"> <%= @organisation.organisation_name %></p>
    <div class="sign-up-flow-underline"></div>
    <p class="explainer mb-300">So all you need to do is fill out the fields below!</p>

    <div>
      <p class="setup-subtitle">
        First name
      </p>
      <%= form_for @user, :url => {controller: 'users', action: 'create_from_invitation' }, :html => {:class => 'edit-view-styling'} do |f| %>
      <%= f.hidden_field :email, :value => @invitation.email %>


      <div class="row">
        <%=	f.text_field :first_name %>
        <% if @user.errors[:first_name].any? %>
        <i class="material-icons flex-column-errors">error</i>
        <% else %>
        <i class="material-icons flex-column-errors">check_circle</i>
        <% end %>
      </div>
    </div>

    <div class="sign-up-flow-underline<%= @user.errors[:first_name].any? ? '-error' : '' %>"></div>
    <p class="setup-subtitle">
      Last name
    </p>
    <div class="row">
      <%=	f.text_field :last_name %>
      <% if @user.errors[:last_name].any? %>
      <i class="material-icons flex-column-errors">error</i>
      <% else %>
      <i class="material-icons flex-column-errors">check_circle</i>
      <% end %>
    </div>

    <div class="sign-up-flow-underline<%= @user.errors[:last_name].any? ? '-error' : '' %>"></div>

    <p class="setup-subtitle">
      Password
    </p>
    <div class="row">
      <%=	f.password_field :password %>
      <% if @user.errors[:password].any? %>
      <i class="material-icons flex-column-errors">error</i>
      <% else %>
      <i class="material-icons flex-column-errors">check_circle</i>
      <% end %>

    </div>

    <div class="sign-up-flow-underline<%= @user.errors[:password].any? ? '-error' : '' %>"></div>

    <p class="setup-subtitle">
      Confirm password
    </p>
    <div class="row">
      <%=	f.password_field :password_confirmation %>
      <% if @user.errors[:password_confirmation].any? %>
      <i class="material-icons flex-column-errors">error</i>
      <% else %>
      <i class="material-icons flex-column-errors">check_circle</i>
      <% end %>

    </div>

    <div class="sign-up-flow-underline<%= @user.errors[:password_confirmation].any? ? '-error' : '' %>"></div>
  </div>

</div>
<div class="col-3"></div>
</div>

<div class="row setup-navigation">
  <div class="col-1"></div>
  <div class="back-button col-1">
    <%= link_to 'create-user' do %>
    <p>Back</p>
    <% end %>

  </div>
  <div class="col-2"></div>
  <div class="col-4 numbers-in-setup inside-number">
  
  </div>
  <div class="col-2"></div>
  <%= f.submit 'Next', :class => 'next-and-create-user col-1' %>
  <% end %>
  <div class="col-1"></div>
</div>

<script>

  $(document).on('turbolinks:load', function () {

    $('input').attr('autocomplete', 'off');
    $('input').attr('autocomplete', 'nope');

    $(document).ready(function () {
      validate();
      $('input#user_first_name, input#user_last_name, input#user_password, input#user_password_confirmation').keyup(validate);
    });


    //function to validate whether all criterias are fulfilled when typing in information in the form
    function validate() {
      firstName = $('input#user_first_name').val();
      lastName = $('input#user_last_name').val();
      password = $('input#user_password').val();
      password_confirmation = $('input#user_password_confirmation').val();
      if (
        firstName.length > 1 &&
        lastName.length > 1 &&
        password.length > 7 &&
        password_confirmation.length > 7
      ) {
        $('.next-and-create-user-inactive').addClass("next-and-create-user")
        $('.next-and-create-user-inactive').removeClass("next-and-create-user-inactive")
        $(".next-and-create-user").prop('disabled', false);
      }
      else {
        $('.next-and-create-user').addClass("next-and-create-user-inactive")
        $('.next-and-create-user').removeClass("next-and-create-user")
        $(".next-and-create-user-inactive").prop('disabled', true);
      }
    }

    $(document).ready(function () {
      tmpval = $('input#user_first_name').val();
      if (tmpval.length < 2) {
        $('input#user_first_name').next().addClass("icon-14-check-attention");
        $('input#user_first_name').next().text('error')
        $('input#user_first_name').next().removeClass("icon-14-check");

      } else {
        $('input#user_first_name').next().addClass("icon-14-check");
        $('input#user_first_name').next().removeClass("icon-14-check-attention");
        $('input#user_first_name').next().removeClass("icon-14-check-error");
        // $('input#user_first_name').next().text('check_circle')
      }
    });

    $('input#user_first_name').keyup(function () {
      tmpval = $(this).val();
      if (tmpval.length < 2) {

        $('input#user_first_name').next().addClass("icon-14-check-attention");
        $('input#user_first_name').next().text('error')
        $('input#user_first_name').next().removeClass("icon-14-check");

      } else {
        $('input#user_first_name').next().addClass("icon-14-check");
        $('input#user_first_name').next().removeClass("icon-14-check-attention");
        $('input#user_first_name').next().removeClass("icon-14-check-error");
        // $('input#user_first_name').next().text('check_circle')
      }
    });

    $(document).ready(function () {
      tmpval = $('input#user_last_name').val();
      if (tmpval.length < 2) {
        $('input#user_last_name').next().addClass("icon-14-check-attention");
        $('input#user_last_name').next().text('error')
        $('input#user_last_name').next().removeClass("icon-14-check");

      } else {
        $('input#user_last_name').next().addClass("icon-14-check");
        $('input#user_last_name').next().removeClass("icon-14-check-attention");
        $('input#user_last_name').next().removeClass("icon-14-check-error");
        $('input#user_last_name').next().text('check_circle')
      }
    });

    $('input#user_last_name').keyup(function () {
      tmpval = $(this).val();
      if (tmpval.length < 2) {

        $('input#user_last_name').next().addClass("icon-14-check-attention");
        $('input#user_last_name').next().text('error')
        $('input#user_last_name').next().removeClass("icon-14-check");

      } else {
        $('input#user_last_name').next().addClass("icon-14-check");
        $('input#user_last_name').next().removeClass("icon-14-check-attention");
        $('input#user_last_name').next().removeClass("icon-14-check-error");
        $('input#user_last_name').next().text('check_circle')
      }
    });



    $(document).ready(function () {
      tmpval = $('input#user_password').val();
      if (tmpval.length < 8) {
        $('input#user_password').next().addClass("icon-14-check-attention");
        $('input#user_password').next().text('error')
        $('input#user_password').next().removeClass("icon-14-check");

      } else {
        $('input#user_password').next().addClass("icon-14-check");
        $('input#user_password').next().removeClass("icon-14-check-attention");
        $('input#user_password').next().removeClass("icon-14-check-error");
        $('input#user_password').next().text('check_circle')
      }
    });

    $('input#user_password').keyup(function () {
      tmpval = $(this).val();

      // Change color of underline on keyup when there is an error
      $('.field_with_errors > input#user_password').parent().parent().next().removeClass("sign-up-flow-underline-error");
      $('.field_with_errors > input#user_password').parent().parent().next().addClass("sign-up-flow-underline");

      if (tmpval.length < 8) {

        $('input#user_password').next().addClass("icon-14-check-attention");
        $('input#user_password').next().text('error')
        $('input#user_password').next().removeClass("icon-14-check");

        $('.field_with_errors > input#user_password').parent().next().addClass("icon-14-check-attention");
        $('.field_with_errors > input#user_password').parent().next().text('error')
        $('.field_with_errors > input#user_password').parent().next().removeClass("icon-14-check");

      } else {
        $('input#user_password').next().addClass("icon-14-check");
        $('input#user_password').next().removeClass("icon-14-check-attention");
        $('input#user_password').next().removeClass("icon-14-check-error");
        $('input#user_password').next().text('check_circle')

        $('.field_with_errors > input#user_password').parent().next().addClass("icon-14-check");
        $('.field_with_errors > input#user_password').parent().next().removeClass("icon-14-check-attention");
        $('.field_with_errors > input#user_password').parent().next().removeClass("icon-14-check-error");
        $('.field_with_errors > input#user_password').parent().next().text('check_circle')
      }
    });

    $(document).ready(function () {
      tmpval = $('input#user_password_confirmation').val();
      if (tmpval.length < 8) {
        $('input#user_password_confirmation').next().addClass("icon-14-check-attention");
        $('input#user_password_confirmation').next().text('error')
        $('input#user_password_confirmation').next().removeClass("icon-14-check");

      } else {
        $('input#user_password_confirmation').next().addClass("icon-14-check");
        $('input#user_password_confirmation').next().removeClass("icon-14-check-attention");
        $('input#user_password_confirmation').next().removeClass("icon-14-check-error");
        $('input#user_password_confirmation').next().text('check_circle')
      }
    });

    $('input#user_password_confirmation').keyup(function () {

      // Change color of underline on keyup when there is an error
      $('.field_with_errors > input#user_password_confirmation').parent().parent().next().removeClass("sign-up-flow-underline-error");
      $('.field_with_errors > input#user_password_confirmation').parent().parent().next().addClass("sign-up-flow-underline");

      tmpval = $(this).val();
      if (tmpval.length < 8) {

        $('input#user_password_confirmation').next().addClass("icon-14-check-attention");
        $('input#user_password_confirmation').next().text('error')
        $('input#user_password_confirmation').next().removeClass("icon-14-check");

        $('.field_with_errors > input#user_password_confirmation').parent().next().addClass("icon-14-check-attention");
        $('.field_with_errors > input#user_password_confirmation').parent().next().text('error')
        $('.field_with_errors > input#user_password_confirmation').parent().next().removeClass("icon-14-check");

      } else {
        $('input#user_password_confirmation').next().addClass("icon-14-check");
        $('input#user_password_confirmation').next().removeClass("icon-14-check-attention");
        $('input#user_password_confirmation').next().removeClass("icon-14-check-error");
        $('input#user_password_confirmation').next().text('check_circle')

        $('.field_with_errors > input#user_password_confirmation').parent().next().addClass("icon-14-check");
        $('.field_with_errors > input#user_password_confirmation').parent().next().removeClass("icon-14-check-attention");
        $('.field_with_errors > input#user_password_confirmation').parent().next().removeClass("icon-14-check-error");
        $('.field_with_errors > input#user_password_confirmation').parent().next().text('check_circle')
      }
    });


  });
</script>