<div class="col">
			<% obj.each do |project| %>
			
			
<div class="card jumbotron row">

	<div class="row">
		<div class="col-10"> 
			<h6>
				<%=project.client_name %> -  <%=project.project_name %>
	 		</h6>
		</div>
		<div class="col-2">	 
			<button type="button delete-button" class="close" aria-label="Close">
				<span aria-hidden="true">&times;</span>
		 	</button>
		 </div>
	</div>
	
	<div class="row">
		<div class="col">
	 		<hr class="mt-0 mb-2 bg-white">
	 	</div>
	</div>
	
	<div class="flex-row d-inline-flex">
		<div class="col">	
			<p>Sold hours: <%=project.hours_sold_for %> hours</p>
			<p>Work hours: [Input]</p>
		</div>
		<div class="col circle">
			<h4><%=project.design_hours%></h4><p>Design</p>
		</div>
		<div class="col circle">
			<div><h4><%=project.programming_hours%></h4><p>Programming</p></div>
		</div>
		<div class="col circle">
			<h4><%=project.project_management_hours%></h4><p>Project management</p>
		</div>
		<div class="col circle">
			<h4><%=project.meetings_hours%></h4><p>Meetings</p>
		</div>
		<div class="col">
				<h1 class="my-0"><%=project.total_time_hours %></h1>
				<p class="my-0">hours used (<%= project.completion_percentage %>%)</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<div class="progress mb-0">
				<div class="progress-bar bg-white" role="progressbar" style="width: <%=project.completion_percentage %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
				</div>
			</div>
		</div>
	</div>
	
</div>
			
			
			
	
		<% end %>
	
</div>

	
	





