

<div class="jumbotron card">
 <h6><%=@project['name'].upcase %>  -  <%=@project['name'].upcase %>
 </h6>
 <hr class="mt-0 mb-5 bg-white">
	<div class="d-flex flex-row justify-content-around align-items-center">
		<div>
			<p>Sold hours: <%= @project['budget'] %> hours</p>
			<p>Work hours: [Input]</p>
		</div>
		<div class="card-elements rounded-circle d-flex flex-column 
								justify-content-between 
								align-items-center">
			<h4>26</h4><p>Design</p>
		</div>
		<div class="card-elements rounded-circle d-flex flex-column 
								justify-content-between 
								align-items-center">
			<h4>26</h4><p>Program</p>
		</div>
		<div class="card-elements rounded-circle d-flex flex-column 
								justify-content-between 
								align-items-center">
			<h4>26</h4><p>Project</p>
		</div>
		<div class="card-elements rounded-circle d-flex flex-column 
								justify-content-between 
								align-items-center">
			<h4>26</h4><p>Meeting</p>
		</div>
		<div class="d-flex flex-column 
								justify-content-between 
								align-items-center">
			<h1 class="my-0">82</h1>
			<p class="my-0">hours used</p>
		</div>
	</div>
</div>

<p>User name: <%=@user['first_name'] %> <%= @user['last_name'] %></p>

<p>Project: <%=@project['name'] %> </p>
<p>Client: <%= @project['client']['name'] %> </p>
<p>Sold for: <%= @project['budget'] %> hours </p>

<p>Accumulated time: <%= @project['budget'] %> hours </p>

<p>1  <%=@projects[0]['project_name']%> </p>
<p>2 <%=@projects[1]%> </p>
<p>3 <%=@projects[2]%> </p>
<p>4 <%=@projects[3]%> </p>

<p>4 <%=
	@projects.each do |key, value|
		puts "project name is #{value}"
		
	end
		%> 
	
	</p>




