<div class="col-10" >
	<% obj.each do |project| %>
	<div class="d-flex card client<%= project.color_number %>">
		<div class="d-flex">
			<div class="box">
				<h6 class="title">
					<%=project.client_name %> - <%=project.project_name %>
				</h6>
			</div>

			<% today = Time.now.to_date %>
			<% last_risk_update = (RiskAction.where(project_id:project.id).last&.created_at)&.to_date %>
			<% if last_risk_update.present? %>	
			<% days_since_last_risk_update = (today - last_risk_update).to_i %>		
			<% if days_since_last_risk_update < 6 %>
			<% else %>
			<div class="box d-flex flex-row">
				<i class="icon-14-risk-update material-icons">access_time</i>
				<p class="risk-update-text"> <%= pluralize(days_since_last_risk_update, 'day') %> since last <%= link_to 'risk update', new_project_risk_action_path(project), :action => 'new', data: { turbolinks: false } %></p>
			</div>
			<% end %>
			<% else %>
			<div class="box d-flex flex-row">
				<i class="icon-14-risk-update material-icons">access_time</i>
				<p class="risk-update-text">Make your first <%= link_to 'risk update', new_project_risk_action_path(project), :action => 'new', data: { turbolinks: false } %></p>
			</div>
			<% end %>


			<div class="box gear-menu-wrapper">
				<div class="gear-menu client<%= project.color_number %>">
					<i class="client<%= project.color_number %> close-gear-menu material-icons close-gear-icon">close</i>
					<a class="details">
						<%= link_to project_path(project), :action => 'show', data: { turbolinks: false } do %>
						<div>
							<i class="client<%= project.color_number %> material-icons">dashboard</i>
							<p>Details</p>
						</div>
						<% end %>
					</a>
					<div class="client<%= project.color_number %> line"></div>
					<a class="risk-action">
						<%= link_to new_project_risk_action_path(project), :action => 'new', data: { turbolinks: false } do %>
						<div>
							<i class="client<%= project.color_number %> material-icons">error</i>
							<p>Add risk / action</p>
						</div>
						<% end %>
					</a>
					<div class="client<%= project.color_number %> line"></div>
					<a class="client<%= project.color_number %> archive-project" href="#archive-project-modal-<%= project.id %>" rel="modal:open">
						<div>
							<i class="client<%= project.color_number %> material-icons">folder</i>
							<% if project.closed == false %>
							<p>Close project</p>
							<% else %>
							<p>Reopen project</p>
							<% end %>
						</div>
					</a>


					<div class="client<%= project.color_number %> line"></div>
					<a>
						<%= link_to edit_project_path(project), :action => 'edit', data: { turbolinks: false } do %>
						<div>
							<i class="client<%= project.color_number %> material-icons">edit</i>
							<p>Edit project</p>
						</div>
						<% end %>
					</a>

					<div class="client<%= project.color_number %> line"></div>
					<a class="client<%= project.color_number %> delete-project" href="#delete-project-modal-<%= project.id %>" rel="modal:open">
						<div>
							<i class="material-icons">delete_forever</i>
							<p>Remove project</p>
						</div>
					</a>
				</div>
				<i class="open-gear-menu material-icons icon_20 client<%= project.color_number %>">settings</i>
			</div>
		</div>
		<%= completion_indicator(project) %>

		<div class="d-flex flex-row justify-content-between">
			<div class="mt-66">
				<p class="tekst"><i class="material-icons icon_12 client<%= project.color_number %>">attach_money</i><span>Sold hours:</span><%=project.hours_sold_for.round %> hours</p>
				<p class="tekst mt-2"><i class="material-icons icon_12 client<%= project.color_number %>">access_time</i><span>Work hours:</span> <%= project.work_hours.round %> hours</p>
			</div>
			<div class="wrapper">
				<div class="circle client<%= project.color_number %>">
					<h4 class="numbers client<%= project.color_number %>"><%=project.design_hours.round %></h4><p class="task-text client<%= project.color_number %>">Design</p>
				</div>
				<div class="circle client<%= project.color_number %>">
					<h4 class="numbers client<%= project.color_number %>"><%=project.programming_hours.round %></h4><p class="task-text client<%= project.color_number %>">Programming</p>
				</div>
				<div class="circle client<%= project.color_number %>">
					<h4 class="numbers client<%= project.color_number %>"><%=project.project_management_hours.round %></h4><p class="task-text client<%= project.color_number %>">Management</p>
				</div>
				<div class="circle client<%= project.color_number %>">
					<h4 class="numbers client<%= project.color_number %>"><%=project.meetings_hours.round %></h4><p class="task-text client<%= project.color_number %>">Meetings</p>
				</div>
			</div>
			<div>
				<p class="completion-percentage client<%= project.color_number %>"><%=project.completion_percentage.round %>%</p>
				<p class="total-time client<%= project.color_number %>"><%= project.total_time_hours.round %> of <%= project.work_hours.round %> work hours</p>
			</div>
		</div>
		<div class="d-flex flex-row justify-content-between mt-266">
			<div>
				<p class="date">Start date</p>
				<p class="tekst"><%= project.project_start_date.strftime('%d.%m.%Y') %></p>
			</div>

			<div class="d-flex flex-row justify-content-center align-items-center">
				<div class="progress-dot-active client<%= project.color_number %>"></div>
				<div class="d-flex align-items-center justify-content-between">

					<div class="progress-full d-flex align-items-center">
						<div class="progress-bar-filling client<%= project.color_number %>" role="progressbar" style="width: <%= calculate_day_progression(project) %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
						</div>
					</div>
				</div>
				<div class="<%= calculate_day_progression(project) >= 100 ? 'progress-dot-active-right' : 'progress-dot-inactive' %> client<%= project.color_number %>"></div>
			</div>
			<div>
				<p class="end-date">End date</p>
				<p class="tekst right-align"><%= project.project_end_date.strftime('%d.%m.%Y') %></p>
			</div>
		</div>

	</div>		


	<!--Delete modal			-->
	<div id="delete-project-modal-<%= project.id %>" class="modal">
		<div class="project-modal-header mb-3">
			<div>
				<i class="material-icons blue">delete_forever</i>
				<p class="text-24 blue">Delete project?</p>
			</div>
			<div>
				<a href="#" class="material-icons" rel="modal:close">
					<i class="material-icons icon-14">close</i>
				</a>
			</div>

		</div>
		<div class="project-modal-content">
			<p class="text-16-19%> ">If you delete a project from your portfolio it will lose all the risks and actions you have added.</p>
			<p id="id"></p>
		</div>
		<div class="project-modal-footer">
			<a href="#" rel="modal:close"><div  class="cancel">Cancel</div></a>	
			<%= link_to 'Delete', project_path(project, user_id:@user.id), method: :delete, :class => 'delete-project-btn' %>
		</div>
	</div>		

	<!--Close project modal			-->
	<div id="archive-project-modal-<%= project.id %>" class="modal">
		<div class="project-modal-header mb-3">
			<div>
				<i class="material-icons blue">folder</i>
				<p class="text-24 blue">Close project?</p>
			</div>
			<div>
				<a href="#" class="material-icons" rel="modal:close">
					<i class="material-icons icon-14">close</i>
				</a>
			</div>

		</div>
		<div class="project-modal-content">
			<p class="text-16-19%> ">Did you finish this project? Is it invoiced and closed? Then it's time to close it!</p>
			<p id="id"></p>
		</div>
		<div class="project-modal-footer">
			<a href="#" rel="modal:close"><div  class="cancel">Cancel</div></a>	

			<% if project.closed == false %>

			<%= form_for project do |f| %>
			<%= f.hidden_field :closed, :value => true %>	
			<p><%= f.submit 'Close project', :class => 'archive-project-btn', :action => 'closed_projects' %></p>
			<% end %>

			<% else %>
			<%= form_for project do |f| %>
			<%= f.hidden_field :closed, :value => false %>
			<p><%= f.submit 'Reopen project', :class => 'archive-project-btn' %></p>
			<% end %>

			<% end %>
		</div>

	</div>	

	<% end %>

</div>






