

<div class="d-flex justify-content-center">

	<div class="mt-200 inner-addon left-addon">
		<i class="material-icons icon-18 search">search</i>
		<input type="text" name="search" placeholder="Project, risk, ID, or something completely different">
	</div>
</div>	

<div>
	<p class="helper-headline mt-200">Select a project to add to your portfolio
	</p>
</div>


<% @all_projects.each do |(client_name, projects)| %>
<div class="client-name"><%= client_name %></div>
<% projects.in_groups_of(4, false) do |projects_in_four| %>	
<div class="project-boxes">
	<% projects_in_four.each do |project| %>

	<%= if_project_is_not_in_database_create_link_to_modal_start(project.harvest_project_id) %>
	<div <%=if_project_is_in_database_grey_out(project.harvest_project_id)%> id="<%= project.harvest_project_id %>" >

		<p><%= project.project_name %></p>
		<i class="material-icons">done</i>

	</div>
	<%= if_project_is_not_in_database_create_link_to_modal_end(project.harvest_project_id) %>
	<% end %>
</div>
<% end %>
<% end %>

<%= @unadded_projects.each do |project| %>
<div class="add-project-flow" id="add-project-flow-<%= project.harvest_project_id %>">
	<div class="aligner-item-top"></div>
	<div class="add-project-content" >
		<div class="add-project-content-top">
			<div>
				<p class="text-32"><%= project.project_name %></p>
			</div>
			<div id="add-project-flow-title">
				<p class="company-name"><%= project.client_name %></p>
				<p class="text-14">Data received from <a href="https://abtion.harvestapp.com/projects/<%= project.harvest_project_id %>">Harvest</a></p>
			</div>
		</div>

		<div class="add-project-box">

			<div>
				<div>
					<p class="extra-margin">work hours</p>
				</div>

				<div>
					<i class="material-icons project-data-type">access_time</i>
					<div>
						<div class="checked-input">
							<p>140</p>
							<i class="icon-14-check material-icons">check_circle</i>
						</div>
						<div class="underline"></div>
					</div>

					<p class="margin-correction">How many hours will the team need to complete this project?</p>
				</div>
			</div>
			<div>
				<div>
					<p class="extra-margin">Sold hours</p>
				</div>

				<div>
					<i class="icon-padding material-icons project-data-type">attach_money</i>
					<div>
						<div class="checked-input">
							<p>140</p>
							<i class="icon-14-check material-icons">check_circle</i>
						</div>
						<div class="underline"></div>
					</div>
					<p class="margin-correction">How many hours is the client being billed? Set equal to work hours</p>
				</div>
			</div>

			<div>
				<div>
					<p class="extra-margin">Start date</p>
				</div>

				<div>
					<i class="material-icons project-data-type">date_range</i>
					<div>
						<div class="checked-input">
							<p>140</p>
							<i class="icon-14-check material-icons">check_circle</i>
						</div>
						<div class="underline"></div>
					</div>
				</div>
			</div>
			<div>
				<div>
					<p class="extra-margin">End date</p>
				</div>

				<div>
					<i class="material-icons project-data-type">date_range</i>
					<div>
						<div class="checked-input">
							<p>140</p>
							<i class="icon-14-check material-icons">check_circle</i>
						</div>
						<div class="underline"></div>
					</div>
					<p class="margin-correction">Calculate end date based on work hours</p>
				</div>
			</div>
			<div class="add-project-buttons">
				<div>
					<a href="#" rel="modal:close"><div class="dont-add-project change-to-default-menu">Don't add</div></a>

					<%= form_for @project do |f| %>
					<%= f.hidden_field :harvest_project_id, :value => project.harvest_project_id %>
					<%= f.submit 'Add Project', :class => 'add-project' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="aligner-item-bottom"></div>
</div>
<% end %>

<script> 
	$('div.project-boxes a div').click(function() {
		var clickedId= $(this).attr("id");
		$(document).ready(function(){
			$("#harvest_id").val(clickedId);
		});
	});

	$(function() {
		$('#add-project-flow').hide();
		$('div.project-boxes a div').click(function(){
			event.preventDefault();
			$('div#hide-menu-items').hide();
			$('#hide').show();
		});
	});   
	
	$(function() {
		$('.change-to-default-menu').click(function() {
			event.preventDefault();
			$('div#hide-menu-items').show();
			$('#hide').hide();
		});
	});   
</script>     

