<% content_for :navigation, render('layouts/custom_navigation', obj: 'Setup project information', obj2: :back) %>

<div class="add-project-content" >
	<div class="add-project-content-top">
		<div>
			<p class="text-32"><%= @project.project_name %></p>
		</div>
		<div id="add-project-flow-title">
			<p class="company-name"><%= @project.client_name %></p>
			<p class="text-14">Data received from <a target="_blank" href="https://abtion.harvestapp.com/projects/<%= @project.harvest_project_id %>">Harvest</a></p>
		</div>
	</div>
	<div class="add-project-box">
		<div>
			<div>
				<p class="extra-margin">work hours</p>
			</div>
			<div>
				<i class="material-icons project-data-type">access_time</i>
				<div>
					<div class="checked-input">

						<%= simple_form_for @project, :html => {:class => 'edit-view-styling'} do |f| %>
						<%=	f.text_field :work_hours %>

						<i class="icon-14-check<%= @project.errors[:work_hours].present? ? "-error" : "" %> material-icons"><%= @project.errors[:work_hours].present? ? "error" : "check_circle" %></i>
					</div>
					<div id="underline1<%= @project.errors[:work_hours].present? ?  "-error" : "" %>"> </div> 
				</div>

				<p class="margin-correction">How many hours will the team need to complete this project?</p>
			</div>
			<%= f.error :work_hours %>
		</div>
		<div>
			<div>
				<p class="extra-margin">Sold hours</p>
			</div>
			<div>
				<i class="icon-padding material-icons project-data-type">attach_money</i>
				<div>
					<div class="checked-input">
						<%=	f.text_field :hours_sold_for %>

						<i class="icon-14-check material-icons"><%= @project.errors[:hours_sold_for].present? ? "error" : "check_circle" %></i>
					</div>
					<div id="underline2<%= @project.errors[:hours_sold_for].present? ?  "-error" : "" %>"></div>
				</div>
				<p class="margin-correction">How many hours is the client being billed?<a id="fill-hours" href="#"> Set equal to work hours</a></p>
			</div>
			<%= f.error :hours_sold_for %>
		</div>
		<div>
			<div>
				<p class="extra-margin">Start date</p>
			</div>
			<div>
				<i class="material-icons project-data-type">date_range</i>
				<div>
					<div class="checked-input">
						<%= f.date_field :project_start_date, "data-provide" => 'datepicker'  %>

						<i class="icon-14-check material-icons"><%= @project.errors[:project_start_date].present? ? "error" : "check_circle" %></i>
					</div>
					<div id="underline3<%= @project.errors[:project_start_date].present? ?  "-error" : "" %>"></div>

				</div>
			</div>
			<%= f.error :project_start_date %>
		</div>
		<div>
			<div>
				<p class="extra-margin">End date</p>
			</div>
			<div>
				<i class="material-icons project-data-type">date_range</i>
				<div>
					<div class="checked-input">
						<%= f.date_field :project_end_date, "data-provide" => 'datepicker'  %>

						<i class="icon-14-check material-icons"><%= @project.errors[:project_end_date].present? ? "error" : "check_circle" %></i>
					</div>
					<div id="underline4<%= @project.errors[:project_end_date].present? ?  "-error" : "" %>"></div>
				</div>
				<p class="margin-correction">Calculate end date based on work hours</p>
			</div>
			<%= f.error :project_end_date %>
		</div>
		<div class="add-project-buttons">
			<div>
				<% if %>
				<% @project.responsibilities.count > 0 %>
				<%= link_to "Back to dashboard", projects_url, class: 'dont-add-project' %>
				<%= f.submit 'Update project', :class => 'add-project' %>
				<% else %>
				<%= link_to "Don't add", projects_url, class: 'dont-add-project' %>
				<%= f.submit 'Add Project', :class => 'add-project' %>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).on('turbolinks:load', function() {

		$('input').attr('autocomplete','off');

		$(document).ready(function (){
			validate();
			$('input#project_work_hours, input#project_hours_sold_for, input#project_project_start_date, input#project_project_end_date').change(validate);
		});

		//function to validate whether all criterias are fulfilled and color "add project" accordingly
		function validate(){
			if (
				$('input#project_work_hours').val().length   >   0 && ($.isNumeric($('input#project_work_hours').val())) &&
				$('input#project_hours_sold_for').val().length  >   0   && ($.isNumeric($('input#project_hours_sold_for').val())) &&
				$('input#project_project_start_date').val().length    >   0 && 
				$('input#project_project_end_date').val().length    >   0 
			) 
			{
				$('.add-project-inactive').addClass("add-project")
				$('.add-project-inactive').removeClass("add-project-inactive")
				$(".add-project").prop('disabled', false);
			}
			else {
				$('.add-project').addClass("add-project-inactive")
				$('.add-project').removeClass("add-project")
				$(".add-project-inactive").prop('disabled', true);
			}
		}

		$(document).ready(function(){ 
			tmpval = $('input#project_work_hours').val();
			if(tmpval == '') {
				$('input#project_work_hours').next().addClass("icon-14-check-attention");
				$('input#project_work_hours').next().text('error')
				$('input#project_work_hours').next().removeClass("icon-14-check");

			} else {
				$('input#project_work_hours').next().addClass("icon-14-check");
				$('input#project_work_hours').next().removeClass("icon-14-check-attention");
				$('input#project_work_hours').next().removeClass("icon-14-check-error");
				$('input#project_work_hours').next().text('check_circle')
			}
		});

		$('input#project_work_hours').blur(function(){
			tmpval = $(this).val();
			if(tmpval == '' ) { 

				$('input#project_work_hours').next().addClass("icon-14-check-attention");
				$('input#project_work_hours').next().text('error')
				$('input#project_work_hours').next().removeClass("icon-14-check");

			} else {
				$('input#project_work_hours').next().addClass("icon-14-check");
				$('input#project_work_hours').next().removeClass("icon-14-check-attention");
				$('input#project_work_hours').next().removeClass("icon-14-check-error");
				$('input#project_work_hours').next().text('check_circle')
			}
		});

		$('input#project_work_hours').blur(function(){
			tmpval = $(this).val();
			if (!$.isNumeric(tmpval)) { 

				$('input#project_work_hours').next().addClass("icon-14-check-error");
				$('input#project_work_hours').next().text('error')
				$('input#project_work_hours').next().removeClass("icon-14-check");

			} else {
				$('input#project_work_hours').next().addClass("icon-14-check");
				$('input#project_work_hours').next().removeClass("icon-14-check-attention");
				$('input#project_work_hours').next().removeClass("icon-14-check-error");
				$('input#project_work_hours').next().text('check_circle')
			}
		});

		$(document).ready(function(){ 
			tmpval = $('input#project_hours_sold_for').val();
			if(tmpval == '') {
				$('input#project_hours_sold_for').next().addClass("icon-14-check-attention");
				$('input#project_hours_sold_for').next().text('error')
				$('input#project_hours_sold_for').next().removeClass("icon-14-check");

			} else {
				$('input#project_hours_sold_for').next().addClass("icon-14-check");
				$('input#project_hours_sold_for').next().removeClass("icon-14-check-attention");
				$('input#project_hours_sold_for').next().removeClass("icon-14-check-error");
				$('input#project_hours_sold_for').next().text('check_circle')
			}
		});

		$('input#project_hours_sold_for').blur(function(){
			tmpval = $(this).val();
			if(tmpval == '' )  { 
				$('input#project_hours_sold_for').next().addClass("icon-14-check-attention");
				$('input#project_hours_sold_for').next().text('error')
				$('input#project_hours_sold_for').next().removeClass("icon-14-check");

			} else {
				$('input#project_hours_sold_for').next().addClass("icon-14-check");
				$('input#project_hours_sold_for').next().removeClass("icon-14-check-attention");
				$('input#project_hours_sold_for').next().removeClass("icon-14-check-error");
				$('input#project_hours_sold_for').next().text('check_circle')
			}
		});

		$('input#project_hours_sold_for').blur(function(){
			tmpval = $(this).val();
			if (!$.isNumeric(tmpval)) { 
				$('input#project_hours_sold_for').next().addClass("icon-14-check-error");
				$('input#project_hours_sold_for').next().text('error')
				$('input#project_hours_sold_for').next().removeClass("icon-14-check");

			} else {
				$('input#project_hours_sold_for').next().addClass("icon-14-check");
				$('input#project_hours_sold_for').next().removeClass("icon-14-check-attention");
				$('input#project_hours_sold_for').next().removeClass("icon-14-check-error");
				$('input#project_hours_sold_for').next().text('check_circle')
			}
		});

		$(document).ready(function(){ 
			tmpval = $('input#project_project_start_date').val();
			if(tmpval == '') {
				$('input#project_project_start_date').next().addClass("icon-14-check-attention");
				$('input#project_project_start_date').next().text('error')
				$('input#project_project_start_date').next().removeClass("icon-14-check");

			} else {
				$('input#project_project_start_date').next().addClass("icon-14-check");
				$('input#project_project_start_date').next().removeClass("icon-14-check-attention");
				$('input#project_project_start_date').next().removeClass("icon-14-check-error");
				$('input#project_project_start_date').next().text('check_circle')
			}
		});

		$('input#project_project_start_date').blur(function(){
			tmpval = $(this).val();
			if(tmpval == '' ) { 

				$('input#project_project_start_date').next().addClass("icon-14-check-attention");
				$('input#project_project_start_date').next().text('error')
				$('input#project_project_start_date').next().removeClass("icon-14-check");

			} else {
				$('input#project_project_start_date').next().addClass("icon-14-check");
				$('input#project_project_start_date').next().removeClass("icon-14-check-attention");
				$('input#project_project_start_date').next().removeClass("icon-14-check-error");
				$('input#project_project_start_date').next().text('check_circle')
			}
		});

		$(document).ready(function(){ 
			tmpval = $('input#project_project_end_date').val();
			if(tmpval == '') {
				$('input#project_project_end_date').next().addClass("icon-14-check-attention");
				$('input#project_project_end_date').next().text('error')
				$('input#project_project_end_date').next().removeClass("icon-14-check");

			} else {
				$('input#project_project_end_date').next().addClass("icon-14-check");
				$('input#project_project_end_date').next().removeClass("icon-14-check-attention");
				$('input#project_project_end_date').next().removeClass("icon-14-check-error");
				$('input#project_project_end_date').next().text('check_circle')
			}
		});

		$('input#project_project_end_date').blur(function(){
			tmpval = $(this).val();
			if(tmpval == '' ) { 
				$('input#project_project_end_date').next().addClass("icon-14-check-attention");
				$('input#project_project_end_date').next().text('error')
				$('input#project_project_end_date').next().removeClass("icon-14-check");

			} else {
				$('input#project_project_end_date').next().addClass("icon-14-check");
				$('input#project_project_end_date').next().removeClass("icon-14-check-attention");
				$('input#project_project_end_date').next().removeClass("icon-14-check-error");
				$('input#project_project_end_date').next().text('check_circle')
			}
		});

		$("input#project_work_hours").focusin(function(){
			$(this).css("color", "#0D39FF");
			$("#underline1").css("border-bottom", "1px solid #0D39FF");
			$("#underline1-error").css("border-bottom", "1px solid #0D39FF");
		});

		$("input#project_work_hours").focusout(function(){
			$(this).css("color", "#4A4A4A");
			$("#underline1").css("border-bottom", "1px solid #9B9B9B");
			$("#underline1-error").css("border-bottom", "1px solid #E11750");
		});

		$("input#project_hours_sold_for").focusin(function(){
			$(this).css("color", "#0D39FF");
			$("#underline2").css("border-bottom", "1px solid #0D39FF");
			$("#underline2-error").css("border-bottom", "1px solid #0D39FF");
		});

		$("input#project_hours_sold_for").focusout(function(){
			$(this).css("color", "#4A4A4A");
			$("#underline2").css("border-bottom", "1px solid #9B9B9B");
			$("#underline2-error").css("border-bottom", "1px solid #E11750");
		});

		$("input#project_project_start_date").focusin(function(){
			$(this).css("color", "#0D39FF");
			$("#underline3").css("border-bottom", "1px solid #0D39FF");
			$("#underline3-error").css("border-bottom", "1px solid #E11750");
		});

		$("input#project_project_start_date").focusout(function(){
			$(this).css("color", "#4A4A4A");
			$("#underline3").css("border-bottom", "1px solid #9B9B9B");
			$("#underline3-error").css("border-bottom", "1px solid #E11750");
		});

		$("input#project_project_end_date").focusin(function(){
			$(this).css("color", "#0D39FF");
			$("#underline4").css("border-bottom", "1px solid #0D39FF");
			$("#underline4-error").css("border-bottom", "1px solid #E11750");
		});

		$("input#project_project_end_date").focusout(function(){
			$(this).css("color", "#4A4A4A");
			$("#underline4").css("border-bottom", "1px solid #9B9B9B");
			$("#underline4-error").css("border-bottom", "1px solid #E11750");
		});
	});
</script>
