<% content_for :navigation, render('layouts/custom_navigation', obj: 'Setup project information', obj2: :back) %>

	<div class="add-project-content" >
		<div class="add-project-content-top">
			<div>
				<p class="text-32"><%= @project.project_name %></p>
			</div>
			<div id="add-project-flow-title">
				<p class="company-name"><%= @project.client_name %></p>
				<p class="text-14">Data received from <a target="_blank" href="https://abtion.harvestapp.com/projects/<%= @project.harvest_project_id %>">Harvest</a></p>
			</div>
		</div>
		<div class="add-project-box">
			<div>
				<div>
					<p class="extra-margin">work hours</p>
				</div>
				<div>
					<i class="material-icons project-data-type">access_time</i>
					<div>
						<div class="checked-input">
							<%= form_for @project, :html => {:class => 'edit-view-styling'} do |f| %>
							<%=	f.text_field :work_hours %>
							<i class="icon-14-check material-icons">check_circle</i>
						</div>
						<div id="underline1"></div>
					</div>
					<p class="margin-correction">How many hours will the team need to complete this project?</p>
				</div>
			</div>
			<div>
				<div>
					<p class="extra-margin">Sold hours</p>
				</div>
				<div>
					<i class="icon-padding material-icons project-data-type">attach_money</i>
					<div>
						<div class="checked-input">
							<%=	f.text_field :hours_sold_for %>
							<i class="icon-14-check material-icons">check_circle</i>
						</div>
						<div id="underline2"></div>
					</div>
					<p class="margin-correction">How many hours is the client being billed?<a id="fill-hours" href="#"> Set equal to work hours</a></p>
				</div>
			</div>
			<div>
				<div>
					<p class="extra-margin">Start date</p>
				</div>
				<div>
					<i class="material-icons project-data-type">date_range</i>
					<div>
						<div class="checked-input">
							<%= f.date_field :project_start_date, "data-provide" => 'datepicker'  %>
							<i class="icon-14-check material-icons">check_circle</i>
						</div>
						<div id="underline3"></div>
					</div>
				</div>
			</div>
			<div>
				<div>
					<p class="extra-margin">End date</p>
				</div>
				<div>
					<i class="material-icons project-data-type">date_range</i>
					<div>
						<div class="checked-input">
							<%= f.date_field :project_end_date, "data-provide" => 'datepicker'  %>
							<i class="icon-14-check material-icons">check_circle</i>
						</div>
						<div id="underline4"></div>
					</div>
					<p class="margin-correction">Calculate end date based on work hours</p>
				</div>
			</div>
			<div class="add-project-buttons">
				<div>
					<%= link_to "Don't add", projects_url, class: 'dont-add-project' %>
					<%= f.hidden_field :added_to_dashboard, :value => true %>
					<%= f.submit 'Add Project', :class => 'add-project' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

<script>
	$('input').attr('autocomplete','off');


	$("input#project_work_hours").focusin(function(){
		$(this).css("color", "#0D39FF");
		$("#underline1").css("border-bottom", "1px solid #0D39FF");
	});

	$("input#project_work_hours").focusout(function(){
		$(this).css("color", "#4A4A4A");
		$("#underline1").css("border-bottom", "1px solid #9B9B9B");
	});

	$("input#project_hours_sold_for").focusin(function(){
		$(this).css("color", "#0D39FF");
		$("#underline2").css("border-bottom", "1px solid #0D39FF");
	});

	$("input#project_hours_sold_for").focusout(function(){
		$(this).css("color", "#4A4A4A");
		$("#underline2").css("border-bottom", "1px solid #9B9B9B");
	});

	//	$("input#project_work_hours").focusin(function(){
	//		$(this).css("color", "#0D39FF");
	//		$("#underline3").css("border-bottom", "1px solid #0D39FF");
	//	});
	//
	//	$("input#project_work_hours").focusout(function(){
	//		$(this).css("color", "#4A4A4A");
	//		$("#underline3").css("border-bottom", "1px solid #9B9B9B");
	//	});
	//
	//	$("input#project_work_hours").focusin(function(){
	//		$(this).css("color", "#0D39FF");
	//		$("#underline4").css("border-bottom", "1px solid #0D39FF");
	//	});
	//
	//	$("input#project_work_hours").focusout(function(){
	//		$(this).css("color", "#4A4A4A");
	//		$("#underline4").css("border-bottom", "1px solid #9B9B9B");
	//	});


</script>
