
<div class="d-flex justify-content-center">

	<div class="mt-200 inner-addon left-addon">
		<i class="material-icons icon-18 search">search</i>
		<input class="search-bar" type="text" name="search" placeholder="Project, risk, ID, or something completely different">
	</div>
</div>	

<div>
	<p class="helper-headline mt-200">Select a project to add to your portfolio
	</p>
</div>


<% @projects_grouped_by_client.each do |(client_name, projects)| %>
<div class="client-name"><%= client_name %></div>
<% projects.in_groups_of(4, false) do |projects_in_four| %>	
<div class="project-boxes">
	<% projects_in_four.each do |project| %>

	<% if project_is_already_on_dashboard?(project.harvest_project_id)%>

	<div <%=if_project_is_added_to_dashboard_grey_out(project.harvest_project_id)%> >
		<p><%= project.project_name %></p>
		<i class="material-icons">done</i>
	</div>
	
	<% else %>
	
	<%= link_to edit_project_path(project), :action => 'edit', data: { turbolinks: false } do %>
	<div <%=if_project_is_added_to_dashboard_grey_out(project.harvest_project_id)%> >
		<p><%= project.project_name %></p>
	</div>
	<% end %>

	<% end %>
	
	<% end %>
</div>
<% end %>
<% end %>

