<!--
<div class="d-flex justify-content-center">
<div class="mt-200 inner-addon left-addon">
<i class="material-icons icon-18 search">search</i>
<input class="search-bar" type="text" name="search" placeholder="Project, risk, ID, or something completely different">
</div>
</div>	
-->

<div class="project-filter-container">
	<%= link_to '/projects', :class => current_class_with_params?('/projects') do %>
	<div class="project-filters">
		<div>
			<i class="material-icons">explore</i>
		</div>
		<div>
			<p>Active projects</p>
		</div>
	</div>
	<% end %>
	<%= link_to '/projects?filtering=dashboard', :class => current_class_with_params?('/projects?filtering=dashboard') do %>
	<div class="project-filters">
		<div>
			<i class="material-icons">dns</i>
		</div>
		<div>
			<p>Projects on dashboard</p>
		</div>
	</div>
	<% end %>
	<%= link_to '/projects?filtering=closed', :class => current_class_with_params?('/projects?filtering=closed') do %>
	<div class="project-filters">
		<div>
			<i class="material-icons">done_all</i>
		</div>
		<div>
			<p>Closed projects</p>
		</div>
	</div>
	<% end %>
	<div class="search-bar-filters">
		<div>
			<i class="material-icons">search</i>
		</div>
	</div>
</div>


<div class="project-filters-underline"></div>
<% if logged_in? %>
<!--
<div>
<p class="helper-headline mt-200">Select a project to add to your portfolio
</p>
</div>
-->

<% @projects_grouped_by_client.each do |(client_name, projects)| %>
<div class="client-name"><%= client_name %></div>
<% projects.in_groups_of(4, false) do |projects_in_four| %>	
<div class="project-boxes">
	<% projects_in_four.each do |project| %>

	<% if project_is_already_on_dashboard?(project.harvest_project_id, @user)%>

	<div <%= if_project_is_added_to_dashboard_grey_out(project.harvest_project_id, @user)%> >
		<p><%= project.project_name %></p>
		<i class="material-icons">done</i>
	</div>

	<% else %>

	<%= link_to edit_project_path(project), :action => 'edit', data: { turbolinks: false } do %>
	<div <%=if_project_is_added_to_dashboard_grey_out(project.harvest_project_id, @user)%> >
		<p><%= project.project_name %></p>
	</div>
	<% end %>

	<% end %>

	<% end %>
</div>
<% end %>
<% end %>

<% else %>

<div>
	<p class="helper-headline mt-200">Log in to add to your portfolio
	</p>
</div>

<%= link_to login_path do %>
<div class="mt-350 new-project">
	<i class="material-icons icon-add mr-133">input</i>
	<p class="text-24 blue">Log in</p>
</div>
<% end %>

<% end %>