<% content_for :navigation, render('layouts/custom_navigation_no_link', obj: :back) %>

<div class="project-details-content-top">
	<div>
		<p class="text-24"><%= @project.client_name %></p>
		<p class="text-14">Data received from <a target="_blank" href="https://abtion.harvestapp.com/projects/<%= @project.harvest_project_id %>">Harvest</a></p>
	</div>
	<div id="add-project-flow-title">
		<p class="text-44"><%= @project.project_name %></p>
	</div>
	<div>
		<%= completion_indicator(@project) %>
	</div>
</div>


<h6>Contact people</h6>

<div class="contact-people-label">
<% @project.users.each do |user| %> 
		<p><%= user.first_name %> <%= user.last_name %></p>
<% end %>
</div>

<h6>Process details</h6>
<div class="row process-details-wrapper">
	<div class="col-12">

		<% sum = 0 %>
		<% sum_design = 0 %>
		<% sum_programming = 0 %>
		<% sum_meetings = 0 %>
		<% sum_pm = 0 %>

		<%= area_chart [

	{name: "Programming", data: (TimeTracking.where(project_id:@project.id).group_by_day(:date).sum(:total_hours_programming)).map {|k,v|[k,(sum_programming += v)]}.to_h},
	{name: "Daily Standup", data: (TimeTracking.where(project_id:@project.id).group_by_day(:date).sum(:total_hours_daily_standup)).map {|k,v|[k,(sum_pm += v)]}.to_h},
	{name: "Project Management", data: (TimeTracking.where(project_id:@project.id).group_by_day(:date).sum(:total_hours_project_management)).map {|k,v|[k,(sum_pm += v)]}.to_h},
	{name: "Design", data: (TimeTracking.where(project_id:@project.id).group_by_day(:date).sum(:total_hours_design)).map {|k,v|[k,(sum_design += v)]}.to_h},
	{name: "Meetings", data: (TimeTracking.where(project_id:@project.id).group_by_day(:date).sum(:total_hours_meetings)).map {|k,v|[k,(sum_meetings += v)]}.to_h}
	#		{name: "Total", data: (TimeTracking.group_by_day(:date).sum(:total_hours)).map {|k,v|[k,(sum += v)]}.to_h}
	], adapter: "highcharts",
stacked: true,
title: 'Time Statistics',
colors: ['#A9EFB2', '#5F6AC7', '#728CFF', '#68AAD4', '#99ACFF']
%>

	</div>
	
<!--
	<div class="col-8">
		<div class="col-12">
			<p>second box</p>
		</div>
	</div>
	<div class="col-8">
		<div class="col-12">
			<p>third box</p>
		</div>
	</div>
	<div class="col-4">
		<div class="col-12">
			<p>fourth box</p>
		</div>
	</div>
-->
</div>

<h6 class="headline-projects-view">Risks and actions</h6>

<%= render 'shared/risk_actions' %>




<!--<h6>History</h6>-->