<% content_for :navigation, render('layouts/custom_navigation_no_link', obj: :back) %>

<div class="add-project-content-top">
	<div>
		<p class="text-32"><%= @project.project_name %></p>
	</div>
	<div id="add-project-flow-title">
		<p class="company-name"><%= @project.client_name %></p>
		<p class="text-14">Data received from <a target="_blank" href="https://abtion.harvestapp.com/projects/<%= @project.harvest_project_id %>">Harvest</a></p>
	</div>
</div>

<h6>Time information</h6>
<h6>Work Distribution</h6>
<h6>Risks and actions</h6>

<% @risk_actions_grouped.each do |(week, risk_action)| %>

<h3>Week: <%= week.strftime('%W').to_i %></h3>
<% risk_action.each do |risk_action| %>
<ul>
	<li>Risk: <%= risk_action.risk %></li>
	<li>Action: <%= risk_action.action %></li>
</ul>

<% end %>
<% end %>

