<% content_for :navigation, render('layouts/custom_navigation', obj: 'Add risks and actions') %>


<div class="aligner-item-top"></div>


<div>
	<p class="text-32"><%= @project.project_name %></p>
</div>
<div id="add-project-flow-title">
	<p class="company-name"><%= @project.client_name %></p>

</div>


<div class="add-risk-and-action">
	<div>
		<i class="material-icons">find_replace</i>
		<p>Add Risk & action</p>
	</div>
	<div>
		<p>
			Update risks and corresponding actions at this time. Why do this?
		</p>
	</div>
	<div>
		<div>
			<div>
				<i class="material-icons">casino</i>
				<p>Risk</p>
			</div>
			<div>
				<%= form_for(@risk_action, :url => project_risk_actions_path) do |f| %>

				<%= f.text_field :risk %><br />
			</div>

		</div>

		<div>

			<div>
				<i class="material-icons">swap_vertical_circle</i>
			</div>

		</div>

		<div>


			<div>
				<i class="material-icons">fitness_center</i>
				<p>Action</p>

			</div>
			<div>

				<%= f.text_field :action %><br />
			</div>

		</div>
	</div>





	<div>
		<%= link_to "View all risks", project_risk_actions_url, class: 'dont-add-project' %>
		<%= link_to "Add", projects_url, class: 'dont-add-project' %>
		<%= f.submit 'Add and create another', :class => 'add-project' %>
		<% end %>
	</div>

</div>

<div class="aligner-item-bottom"></div>



