<% content_for :navigation, render('layouts/custom_navigation', obj: 'Add risks and actions') %>


<div id="risk-action">
	<%= form_tag project_risk_actions_path do %>
	<%= fields_for 'risk_actions[]', @risk_action do |f| %>
	<%= f.label :risk %>:
	<%= f.text_field :risk %><br />

	<%= f.label :action %>:
	<%= f.text_field :action %><br />

	<%= f.submit id:"submit" %>
	<% end %>
	<% end %>
	<%= form_tag project_risk_actions_path do %>
	<%= fields_for 'risk_actions[]', @risk_action do |f| %>
	<div class="hide" id="new-risk-action">
		<%= render 'risk_action_fields', f: f %>
	</div>
	<% end %>
	<% end %>
</div>

<a href="javascript:;" id="add-new-risk-action">Add New Risk and Action</a>


<script>
	$(document).ready(function(){
		$("#add-new-risk-action").click(function(){
			$("#submit").before($("#new-risk-action").html());
		});
		$(".remove").click(function(){
			$(this).parent().remove();
		})
		//		
		//	 $(".remove").on('click','.remove',function(){
		//        $(this).parent().css( "background-color", "red" );
		//    });


	});
</script>


