<% content_for :navigation, render('layouts/custom_navigation', obj: 'Add risks and actions', obj2: project_risk_actions_path(params[:project_id])) %>

<div class="aligner-item-top"></div>

<div>
	<p class="text-32"><%= @project.project_name %></p>
</div>
<div>
	<p class="company-name"><%= @project.client_name %></p>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="add-risk-and-action col-8">
		<div class="risk-action-title">
			<i class="material-icons">find_replace</i>
			<p>Add Risk & action</p>
		</div>
		<div class="risk-text">
			<p>
				Update risks and corresponding actions at this time. Why do this?
			</p>
		</div>
		<div class="d-flex flex-row justify-content-between">
			<div class="d-flex flex-column">
				<div>
					<i class="material-icons">casino</i>
					<p>Risk</p>
				</div>
				<div>
					<%= form_for(@risk_action, :url => project_risk_actions_path) do |f| %>
					<%= f.text_field :risk %><br />
				</div>
				<div id="underline5"></div>
			</div>
			<div class="swap-icon">
				<div>
					<i class="material-icons">swap_vertical_circle</i>
				</div>
			</div>
			<div class="d-flex flex-column">
				<div>
					<i class="material-icons">fitness_center</i>
					<p>Action</p>
				</div>
				<div>
					<%= f.text_field :action %><br />
				</div>
				<div id="underline6"></div>
			</div>
		</div>
		<div class="submit-risk-action">
			<%= link_to "View all risks", project_risk_actions_url, class: 'view-all-risks' %>
			<%= f.submit "Add & create another", class: 'add-and-create-another' %>
			<%= f.submit 'Add', :class => 'add-risk-action' %>
			<% end %>
		</div>
	</div>
	<div class="col-2"></div>
</div>

<div class="aligner-item-bottom"></div>

<script>
	$(document).ready(function (){
		validate();
		$('input#risk_action_risk, input#risk_action_action').change(validate);
	});

	//function to validate whether all criterias are fulfilled and color "add" accordingly
	function validate(){
		if (
			$('input#risk_action_risk').val().length   >   0 && 
			$('input#risk_action_action').val().length  >   0   
		) 
		{
			$('.add-project-inactive').addClass("add-risk-action")
			$('.add-project-inactive').removeClass("add-project-inactive")
			$(".add-risk-action").prop('disabled', false);
			
			$('.add-and-create-another-inactive').addClass("add-and-create-another")
			$('.add-and-create-another-inactive').removeClass("add-and-create-another-inactive")
			$(".add-and-create-another").prop('disabled', false);
		}
		else {
			$('.add-risk-action').addClass("add-project-inactive")
			$('.add-risk-action').removeClass("add-risk-action")
			$(".add-project-inactive").prop('disabled', true);

			$('.add-and-create-another').addClass("add-and-create-another-inactive")
			$('.add-and-create-another').removeClass("add-and-create-another")
			$(".add-and-create-another-inactive").prop('disabled', true);
		}
	}

	$('input').attr('autocomplete','off');

	$("input#risk_action_risk").focusin(function(){
		//		$(this).css("color", "#0D39FF");
		$("#underline5").css("border-bottom", "1px solid #0D39FF");
	});

	$("input#risk_action_risk").focusout(function(){
		//		$(this).css("color", "#4A4A4A");
		$("#underline5").css("border-bottom", "1px solid #9B9B9B");
	});

	$("input#risk_action_action").focusin(function(){
		//		$(this).css("color", "#0D39FF");
		$("#underline6").css("border-bottom", "1px solid #0D39FF");
	});

	$("input#risk_action_action").focusout(function(){
		//		$(this).css("color", "#4A4A4A");
		$("#underline6").css("border-bottom", "1px solid #9B9B9B");
	});
</script>

