<div id="burger-menu-wrapper">
	<div id="burger-menu-starter"></div>
	<div id="burger-menu">
		<i id="burger-icon-in-menu" class="material-icons">close</i>
		<div class="burger-menu-content">
			<div class="projectio-menu">Prjectio</div>
			<div class="burger-menu-line"></div>
			<div class="burger-menu-items">
				<% if logged_in? %>
				<div>
					<i class="material-icons">person</i>
					<a href="#"><%= @user.first_name%> <%=@user.last_name %></a>
				</div>
				<div>
					<i class="material-icons">settings_applications</i>
					<a href="#">Setup projects</a>
				</div>
				<div>
					<i class="material-icons">settings_applications</i>
					<%= link_to @user.organisation.organisation_name, organisation_path(@user.organisation) %>
				</div>
				<div>
					<i class="material-icons">exit_to_app</i>
					<%= link_to 'Log out', logout_path, :method => :delete %>
				</div>
				<% else %>
				<div>
					<i class="material-icons">input</i>
					<%= link_to 'Log in', login_path %>
				</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row" >



		<div class="top-nav" id="hide-menu-items">
			<div class="col-1"></div>
			<div class="inner-nav col-10" >
				<div class="row">
					<i id="burger-icon" class="material-icons icon-menu">menu</i>
				</div>
				<% if logged_in? %>
				<div class="menu-items">
					<a> 
						<%= link_to 'Team', '/team', :class => current_class?('/team') %>
					</a>
					<a>
						<%= link_to 'Closed projects', '/closed_projects', :class => current_class?('/closed_projects') %>
					</a>
					<a>
						<%= link_to 'Add projects', new_project_path, data: { turbolinks: false }, :class => current_class?('/projects/new') %>
					</a>
					<a> 
						<%= link_to 'Dashboard', '/dashboard', :class => current_class?('/dashboard') %>
					</a>
				</div>
				<% else %>
				<div class="menu-items">
					<a> 
						<%= link_to 'Log in', login_path %>
					</a>
				</div>
				<% end %>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</div>
